*-debug.log
*-error.log
**/.DS_Store
node_modules
dist
*.log
.DS_Store
oclif.manifest.json


yarn.lock
package-lock.json

*.tsbuildinfo
/proxy

/references

# docker-compose.services.yml reads this for POSTGRES_PASSWORD/GARAGE_RPC_SECRET/etc.
/.env
